<button type="button" class="collapsible" data-target="collapsible.button" data-action="click->collapsible#toggle">Open <%= name %></button>
<div id="<%= name.tr(" ", "-")  %>" class="filter-panel ml-4">
      <% if(albums.present?)  %>
        <% albums.each do |a|   %>
          <div class="row mt-3 end">
            <%= form.label(a.title, a.title)  %>
            <%= form.check_box("album[#{a.id}]", value: a)  %>
          </div>
        <% end %>
      <% end %>
    </div>
