<button type="button" class="collapsible">Open <%= name.pluralize.capitalize %> </button>
<div id="#{name}" class="filter-panel ml-4">
  <% area.each do |a|   %>
    <div class="row mt-3 end">
      <%= form.label(a, a)  %>
      <%= form.check_box("#{name}[#{a}]", value: a)  %>
    </div>
  <% end %>
</div>
