.albums {
  width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.albums__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.albums__title {
  width: 300px;
}
