@import "colors";

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.6; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  font-size: 62.5%;
  background: $background;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
  font-size: 1.3em;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
}

h2,
h3,
h4,
h5 {
  color: $primary--darkest;
}

h1,
.alpha {
  line-height: 1.2;
  text-transform: none;
  font-size: 2em;
  margin: 0.67em 0;
  color: $primary--darkest;
}

h2,
.beta {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #192127;
  text-transform: none;
}

h3,
.gamma {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #192127;
  text-transform: none;
}

h4,
.delta,
th {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #72797e;
  text-transform: uppercase;
  text-align: left;
}

h5,
.epsilon {
  font-size: 1.4rem;
  line-height: 1.4;
  text-transform: none;
}

h6,
.zeta {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: none;
}
/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

ul {
  list-style-type: none;
}
