@import "./colors.scss";

/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn,
.card__btn {
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #fff;
  color: #192127;
  padding: 1.6rem;
  margin: 0;
  border: 1px solid #e3e5e9;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
}

.btn__inline {
  display: inline;
}

.no-radius {
  border-radius: 0px;
}

.btn:hover,
.btn:focus,
.card__btn:hover,
.card__btn:focus {
  text-decoration: none;
  background-color: #e3e5e9;
}

/**
 * Remove the inner border and padding in Firefox.
 */
.btn::-moz-focus-inner,
.card__btn::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.btn--primary {
  background-color: $primary--dark;
  color: #fff;
  border: 1px solid $primary--dark;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: $primary--darker;
  border-color: $primary--darker;
}

.btn--warning,
.warning {
  white-space: nowrap;
  background-color: $warning;
  color: #fff;
  border: 1px solid $warning;
}

.btn--warning:hover,
.btn--warning:focus {
  background-color: $warning-dark;
  border-color: $warning-dark;
}
.btn--img__small {
  width: 200px;
}

.btn--inline {
  border-radius: 0;
  border-left-width: 0;
}

.btn-group li {
  margin-bottom: 1em;
}
