@import "colors";

/* ==========================================================================
   COMMENTS
   ========================================================================== */
.comments {
  padding: 3.2rem 0;
}

/* Comments input field
   ========================================================================== */
.comments__input {
  margin-bottom: 3.2rem;
}

.comments__title span {
  vertical-align: super;
  font-size: 16 px;
  font-size: 1.6rem;
  font-weight: normal;
  color: #bbc1c6;
}

.comments__input::after {
  content: "";
  display: block;
  clear: both;
}

.comments__input {
  float: left;
  margin-top: 2em;
}

.comments__input .input-group {
  margin-left: 60px;
}

.comments__input .btn {
  float: right;
}

/* Comments listing
   ========================================================================== */

.comments__listing {
  display: flex;
  flex-direction: column;
}
.comment__details {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.comment {
  margin-bottom: 3.2rem;
}

.comment {
  float: left;
}

.trix-content {
  margin: 20px 0 0 100px;
  padding: 2rem;
  background-color: $primary--lightest;
  border-radius: 5%;
}

.comment__title {
  color: #192127;
}

.comment__title time {
  color: #bbc1c6;
}

.message-container {
  margin-bottom: 1.6rem;

  .alert {
    color: #e25d43;
  }

  .notice {
  }

  .success {
    color: $primary--dark;
  }
}
