@import "colors";

.global-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $primary;
  flex-wrap: wrap;
}

.logo {
  color: rgb(246, 246, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2em;
  text-decoration: none;
  white-space: nowrap;
}

.nav-items a {
  color: rgb(246, 246, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  padding-left: 1.2em;
  white-space: nowrap;
}

.nav-item {
  float: left;
}

.pagy-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.page {
  padding: 7px;
}

.pagination .page a {
  color: $primary--darker;
  background-color: $primary--lightest;
}
.pagination .page a:hover {
  background-color: $primary;
}
.pagination .active {
  color: white;
  background-color: $primary--dark;
}
.pagination .active:after {
  content: "";
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .burger {
  }
}
