.map-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .map-container {
    flex-direction: row;
  }
}
#map {
  height: 600px;
  width: 100%;
  position: relative;
}
