/* ==========================================================================
   MEDIA OBJECT
   ========================================================================== */

.media {
  padding-bottom: 3.2rem;
}

.media__figure {
  margin-bottom: 1.6rem;
}

.media__figure img {
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 630px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1290px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.photo-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  background-color: $primary--lighter;
}

.photo-selector input {
  width: 40px;
  height: 40px;
}

.photos {
  margin-top: 4.5rem;
}

.photo-deletable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5em;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  background-color: $primary--lighter;
}
@media screen and (min-width: 720px) {
  .media__figure {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 1.6rem;
  }

  .media__body {
    width: 50%;
    float: left;
  }

  /* Clearfix hack because both children are floats */
  .media::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* ==========================================================================
  Details 
   ========================================================================== */

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.details {
  line-height: 3.5rem;
}

.details__owner p {
  margin: 0;
}

.details__owner .avatar {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.details__meta {
  font-size: 12px;
  font-size: 1.2rem;
  color: #bbc1c6;
  margin-bottom: 1.6rem;
}

.details__meta span:not(:last-child)::after {
  content: "|";
  padding: 0 0.5em;
}
