.tns-controls {
  text-align: center;
  margin: 20px 0;
}

.tns-nav {
  text-align: center;
  margin: 20px 0;
}

.tns-slider {
  margin: 0 auto;
}

.tartist-tiny-slider {
  margin: 0;
}
.tartist-tiny-slider__item {
  display: flex;
  flex-direction: column;
}
