<h1>Welcome#index</h1>
<p>This is the initial landing page for users who are not signed in</p>
<p>To use this website please: </p>
<%= link_to "t(sign_up)", new_user_path %>
<p>or</p>
<%= link_to "t(login)", new_session_path  %>
