$text-color: #738086;
$highlight-color: #d8dde9;
$logo-color: red;
$title-color: #0a1b24;
$secondary: #ff4d00;
$primary: #639ce8;
$primary--dark: darken($primary, 15%);
$border-color: #d6d6d6;
$warning: red;
$warning-secondary: hsl(10, 93%, 37%);
