// $primary: #639ce8;
$primary: #66999b;
// $primary: #93c8a2;
$primary--light: lighten($primary, 15%);
$primary--dark: darken($primary, 15%);
$primary--darker: darken($primary, 30%);
$primary--darkest: darken($primary, 50%);
$secondary: $primary--darkest;
$secondary--light: lighten($secondary, 15%);
$secondary--dark: darken($primary, 50%);
$warning: hsl(13, 88%, 52%);
$warning-dark: hsl(10, 93%, 37%);
