.main {
  display: flex;
  flex-direction: column;
}

#map {
  height: 600px;
  width: 100%;
  position: relative;
}

.filter-panel {
  padding: 1.4rem;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  min-width: 22ch;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
