/* Coolors Exported Palette - https://coolors.co/93c8a2-93b7be-9cc0f9-34a853-048a81 */

/* CSS HEX */
// --eton-blue: #93c8a2ff;
// --dark-sky-blue: #93b7beff;
// --baby-blue-eyes: #9cc0f9ff;
// --green-pigment: #34a853ff;
// --celadon-green: #048a81ff;
// --eton-blue-darker: #435C4A;

/* CSS HSL */
// --eton-blue: hsla(137, 33%, 68%, 1);
// --dark-sky-blue: hsla(190, 25%, 66%, 1);
// --baby-blue-eyes: hsla(217, 89%, 79%, 1);
// --green-pigment: hsla(136, 53%, 43%, 1);
// --celadon-green: hsla(176, 94%, 28%, 1);

/* SCSS HEX */
$eton-blue: #93c8a2ff;
$dark-sky-blue: #93b7beff;
$baby-blue-eyes: #9cc0f9ff;
$green-pigment: #34a853ff;
$celadon-green: #048a81ff;

/* SCSS HSL */
$eton-blue: hsla(137, 33%, 68%, 1);
$dark-sky-blue: hsla(190, 25%, 66%, 1);
$baby-blue-eyes: hsla(217, 89%, 79%, 1);
$green-pigment: hsla(136, 53%, 43%, 1);
$celadon-green: hsla(176, 94%, 28%, 1);

/* SCSS RGB */
$eton-blue: rgba(147, 200, 162, 1);
$dark-sky-blue: rgba(147, 183, 190, 1);
$baby-blue-eyes: rgba(156, 192, 249, 1);
$green-pigment: rgba(52, 168, 83, 1);
$celadon-green: rgba(4, 138, 129, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-right: linear-gradient(
  90deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-left: linear-gradient(
  270deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
$gradient-radial: radial-gradient(
  #93c8a2ff,
  #93b7beff,
  #9cc0f9ff,
  #34a853ff,
  #048a81ff
);
