<h1>Photos#index</h1>

<p>Find me in app/views/photos/index.html.erb</p>

<div data-controller="hello">
  <input data-target="hello.name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-target="hello.output">
  </span>
</div>

<ul>
  <% if @photos.present?  %>
  <% @photos.each do |photo|  %>
    <li>
      <%= image_tag(photo.image, style: "height: 100px; width: 100px;") if photo.image.attached? %>
      <p>  
      <%= photo.address  %> 
      </p>
    </li>
  <% end %>
  <% end %>

</ul>
<%# form do |f| %>
<%#  f.input :images, as: :file, input_html: { multiple: true } %>
<%#  f.object.images.each do |image| %>
<%#   span image_tag(image) %>
<%#  end %>
<%# end %>
