<div id="modal" class="modal" data-controller="modal"> </div>

<div class="content-wrapper">
  <h1> <%= Photo.model_name.human(count: 2) %> </h1>

  <div class="gallery">
    <% @photos.each do |photo|   %>
      <%= render(partial: "editable_photo_card", locals: {photo: photo})  %>
    <% end %>
  </div>
</div>
