<div class="container mx-auto text-center" style="width: 300px;">
    <h1>Upload Photos</h1>

    <p>You can upload 100 more photos</p>
    <p>Drag and drop photos here</p>
    <p>or</p>
    <button>Choose photos to upload</button>
  </div>
</div>
