#map {
  height: 600px;
  width: 70%;
  position: relative;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.photo-container {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
}
