<%= link_to(user_path(user), class: "row") do  %>
  <%= image_tag(user.avatar.variant(resize: '100x100'), class: "avatar mr-3") if user.avatar.attached? %>
  <p class="mr-3"> <%= user.username  %> </p>
<% end %>
